<!--The content below is only a placeholder and can be replaced.-->

<body class="colorbody">
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />

  <app-nav-bar></app-nav-bar>

  <div container>
  <app-tabla-registro></app-tabla-registro>
  </div>

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div>
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star-empty"></span> Star
      </button>
    </div>
    <div>
      <i class="glyphicon bigger" [class.glyphicon-star-empty]="!likeit" [class.glyphicon-star]="likeit" (click)="onclickimage()"></i>
    </div>
    <div>
      <p>Prueba de las flechas now!!</p>
      <button type="button" class="btn btn-default btn-lg" (click)="arrowDirection = 'arriba'">Star please click arriba
        me for change arrows
      </button>
      <button type="button" class="btn btn-default btn-lg" (click)="arrowDirection = 'abajo'">Star please abajo
        click me for change arrows
      </button>
      <button type="button" class="btn btn-default btn-lg" (click)="arrowDirection = 'derecha'">Star please derecha
        click me for change arrows
      </button>
      <button type="button" class="btn btn-default btn-lg" (click)="arrowDirection = 'izquierda'">Star please izquierda
        click me for change arrows
      </button>
      <button type="button" class="btn btn-default btn-lg" (click)="arrowDirection = !arrowDirection">Star
        please
        click me for change arrows
      </button>
    </div>
    <div>

      <i [ngClass]="{'glyphicon glyphicon-circle-arrow-left' :arrowDirection === 'izquierda'}"></i>
      <i [ngClass]="{'glyphicon glyphicon-circle-arrow-right' :arrowDirection === 'derecha'}"></i>
      <i [ngClass]="{'glyphicon glyphicon-circle-arrow-up' :arrowDirection === 'arriba'}"></i>
      <i [ngClass]="{'glyphicon glyphicon-circle-arrow-down' :arrowDirection === 'abajo'}"></i>
    </div>

    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <h2>Here are some links to tweo help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
    <li *ngIf="mostrarDatos === true">
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Mostrando Datos</a></h2>
    </li>
  </ul>
  <div style="text-align:center">
    <div class="button-row">
      <button (click)="onShowHide(true)" [class.showData]='mostrarDatos === true' mat-raised-button color="primary">Property
        Show Text</button>
      <button (click)="onShowHide(false)" [class.showData]='mostrarDatos === false' mat-stroked-button color="warn"
        class="hoverButton">Property Hide Text</button>
    </div>
  </div>

  <span class="glyphicon glyphicon-search" aria-hidden="true" *ngIf="Mostrar"></span>

  <div class="dropup" *ngIf="Mostrar">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Dropup
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

  <button type="button" class="btn btn-default" aria-label="Left Align" *ngIf="Mostrar">
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  </button>
  <!-- <i class="icon-star icon-white">hola</i> -->

  <span class="glyphicon glyphicon-home" *ngIf="Mostrar"></span>

  <button type="button" class="btn btn-default btn-lg" *ngIf="Mostrar">
    <span class="glyphicon glyphicon-star">aparece</span> Star
  </button>

  <ul class="nav nav-pills" *ngIf="Mostrar">
    <li>
      <a href="index.html">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </li>
    <li>
      <a href="shop.html">
        <span class="glyphicon glyphicon-shopping-cart"></span> Shop
      </a>
    </li>
    <li>
      <a href="about.html">
        <span class="glyphicon glyphicon-info-sign"></span> About
      </a>
    </li>
  </ul>


  <div class="button-row">
    <button mat-icon-button (click)="activo='primero'">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="activo='segundo'">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>

  </div>


  <p id="parrafoPrimero" class="negrita" [ngClass]="{'blockhide':activo== 'primero'}">"Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  <p id="parrafoSegundo" class="azulita" [ngClass]="{'blockhide':activo== 'segundo'}">"Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

  <p [ngClass]="{negrita:activo,azul:activo1,fondorojo:activo2}"> Veremos si la frase va cambiando de color</p>

  <mat-checkbox (click)="activo='true'">negrita</mat-checkbox>
  <mat-checkbox (click)="activo1='true'">azul</mat-checkbox>
  <mat-checkbox (click)="activo2='true'">fondorojo</mat-checkbox>

  <router-outlet></router-outlet>
</body>